<section class="body-padding">
  <aside class="col-md-3">
    <h1 class="blog-title">Posts</h1>
    <% @blogs_all.each do |blog| %>
    <div class="inner blog-lists">
      <a href="<%= blog_path(blog.id) %>"><%= blog.title %></a>
    </div>
    <% end %>
  </aside>

  <div class="col-md-8">
    <% @blogs_all[0..4].each do |blog| %>
    <article>
      <h1 class="blog-title"><%=blog.title%></h1>
      <section class="blog-content">
        <p><%= mark(blog.para1) %></p>
        <p><%= mark(blog.para2) %></p>
        <p><%= mark(blog.para3) %></p>
      </section>
      <% if signed_in? %>
      <%= link_to 'edit', edit_blog_path(blog)%>
      <%= link_to 'Delete Blog', {controller: 'blogs', action: 'destroy', id: blog.id}, method: :delete %>
      <% end %>
    </article>
    <% end %>  
  </div>
</section>