<div class="double-inner">
  <div class="blog-title"><%=@blog.title%></div>
  <div class="blog-date"><%= @blog.created_at.strftime("%b %e, %Y") %></div>
  <div class='blog-para'><%= mark(@blog.para1) %></div>
  <div class='blog-para'><%= mark(@blog.para2) %></div>
  <div class='blog-para'><%= mark(@blog.para3) %></div>

  <div class="row">
    <% if signed_in? %>
    <%= link_to 'edit', edit_blog_path(@blog)%>
    <%= link_to 'Delete Blog', {controller: 'blogs', action: 'destroy', id: @blog.id}, method: :delete %>
    <% end %>
  </div>
</div>
