<div class="presentations-wrapper">
  <% @all_presentations.each do |p| %>
  <div class="row double-inner">
    <div class="unit col1of2 double-inner">
      <div class="row title">
        <%=p.title%>
      </div>
      <div class="row  vertical-inner">
        <p><%= p.description %></p>
      </div>
      <% if signed_in? %>
        <div class="row">
          <div class="unit col1of2">
            <%= link_to "Edit Presentation", edit_presentation_path(p.id) %>
          </div>
          <div class="unit col1of2">
            <%= link_to "Delete Presentation", {controller: 'presentations', action: 'destroy', id: p.id }, method: :delete %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="lastUnit">
      <div class="row double-inner">
      <iframe src="<%=p.embedlink%>" width="400" height="350"></iframe> 
      </div>
      </div>
    </div>
    <% end %>
  </div>