<div class="body-padding">
  <% @all_presentations.each do |p| %>
  <div class="row inner">
    <div class="col-xs-6">
      <div class="row">
        <h2><%=p.title%></h2>
      </div>
      <div class="row">
        <p><%= p.description %></p>
      </div>
      <% if signed_in? %>
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "Edit Presentation", edit_presentation_path(p.id) %>
        </div>
        <div class="col-sx-6">
          <%= link_to "Delete Presentation", {controller: 'presentations', action: 'destroy', id: p.id }, method: :delete %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-xs-6">
      <iframe src="<%=p.embedlink%>" width="400" height="350"></iframe> 
    </div>
  </div>
  <% end %>
</div>