<%= form_for(@welcome) do |f| %>
	 <div class="row">
		 <%= f.label :para1 %>
	 </div>
	 <div clas="row">
		 <%= f.text_area :para1, size: '150x20' %>
	 </div>

	 <div class="row">
	 	<%= f.label :para2 %>
	 </div>
	 <div class="row">
	 	<%= f.text_area :para2, size: '150x20' %>
	 </div>

	 <div class="row">
	 	<%= f.label :para3 %>
	 </div>

	 <div class="row">
	 	<%= f.text_area :para3, size: '150x20' %>
	 </div>

	 <div class="row">
		 <%= f.submit %>
	 </div>
<% end %>