<%= form_for(@project) do |f| %>
<div class="row">
  <%= f.label :title %>
</div>

<div class="row">
  <%= f.text_field :title %>
</div>

<div class="row">
  <%= f.label :description %>
</div>

<div class="row bottom-inner">
  <%= f.text_area :description, size: "100x10" %>
</div>
<% end %>


<%= form_for(@detail1) do |f| %>
<div class="row">
  <%= f.label :bullet %>
</div>
<div class="row">
  <%= f.text_field :bullet %>
</div>
<% end %>

<%= form_for(@detail2) do |f| %>
<div class="row">
  <%= f.label :bullet %>
</div>
<div class="row">
  <%= f.text_field :bullet %>
</div>
<% end %>


<%= form_for(@detail3) do |f| %>
<div class="row">
  <%= f.label :bullet %>
</div>
<div class="row">
  <%= f.text_field :bullet %>
</div>
<% end %>

<%= form_for(@detail4) do |f| %>
<div class="row">
  <%= f.label :bullet %>
</div>
<div class="row">
  <%= f.text_field :bullet %>
</div>
<% end %>

<%= form_for(@detail5) do |f| %>
<div class="row">
  <%= f.label :bullet %>
</div>
<div class="row">
  <%= f.text_field :bullet %>
</div>
<% end %>

