<%= form_for(@project) do |f| %>
<div class="row">
  <%= f.label :title %>
</div>
<div class="row">
  <%= f.text_field :title %>
</div>

<div class="row">
  <%= f.label :description %>
</div>
<div class="row bottom-inner">
  <%= f.text_area :description, size: "100x10" %>
</div>

<%= f.fields_for :details do |df| %>
  <div class="row">
    <%= df.label :bullet %>
  </div>
  <div class="row">
    <%= df.text_field :bullet %>
  </div>
<% end %>

<%= f.submit %>

<% end %>

